@font-face {
    font-family: fonttext;
    src: url('../styles/Nunito-Light.ttf') format("truetype")
}

html,
body {
    padding: 0;
    margin: 0;
    background: #cfd3d9;
    font-family: fonttext;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    font-family: fonttext;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

form {
    display: flex;
}

input {
    outline: none;
    width: 100%;
    margin: 50px 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    height: 50px;
    border-radius: 10px;
    padding: 0 0 0 15px;
}

ul {
    list-style: decimal;
    overflow: hidden;
}

ul > li {
    position: relative;
    height: 40px;
    font-size: large;
    display: flex;
    align-items: center;

}
ul > li:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background: black;
    transition: .5s;
}
ul > li:hover:before {
    width: 100%;
}
ul > li:after {
    position: absolute;
    left: -20px;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: black;
    top: calc(50% - 3px);
}
li > button img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
li > button {
    border: none;
    background: transparent;
    position: absolute;
    right: -55px;
    top: 2px;
    padding: 0;
    transition: .5s;
    height: 100%;
}

li:hover > button {
    right: 5px;
}
